
# node_modules
*/node_modules

# back
back/*
!back/*.sh
!back/*.yml

# frontend
frontend/src/node_modules/@sapper
!frontend/src/node_modules/images/*
frontend/__sapper__/

# .secret
.secret/*
!.secret/.test_priv_keys

# hardhat
!hardhat/hardhat.config.js
hardhat/*